<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="PoeBot.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <applicationSettings>
        <PoeBot.Core.Properties.Settings>
            <setting name="League" serializeAs="String">
                <value>Heist</value>
            </setting>
            <setting name="ClientPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:/Program Files (x86)/Steam/steamapps/common/Path of Exile/</string>
                        <string>C:/Program Files (x86)/Grinding Gear Games/Path of Exile/</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UI_Fragments" serializeAs="String">
                <value>UI_Fragments_free</value>
            </setting>
            <setting name="PreppendInfoClient" serializeAs="String">
                <value>ba9</value>
            </setting>
        </PoeBot.Core.Properties.Settings>
    </applicationSettings>
</configuration>